$accent-color: #80cbc4;
$custom-white: #c9d4fa;
$primary-color: #090b10;
$primary-color-faded: #3b3f51;
$background-gradient: linear-gradient(
  180deg,
  $primary-color 0%,
  $primary-color 35.94%,
  $primary-color-faded 100%
);
