@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$primary-font: "Jost", sans-serif;
$secondary-font: "Open Sans", sans-serif;

$button-font-weight: 600;
$header-font-weight: 500;
$normal-font-weight: 400;
