@import "~/theme/reset.scss";
@import "~/theme/_colors.scss";
@import "~/theme/_fonts.scss";

.title {
  color: $custom-white;
  font-family: $primary-font;
  font-size: 80px;
  font-weight: $header-font-weight;
  line-height: 95px;
}

.subtitle {
  color: $custom-white;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: $normal-font-weight;
  line-height: 41px;
  /*layout*/
  margin-top: 28px;
}


.paragraph {
  color: $custom-white;
  font-family: $secondary-font;
  font-weight: $normal-font-weight;
  font-size: 22px;
  line-height: 48px;
}
/* buttons */
.cta-button-theme {
  background-color: $accent-color;
  border: 1px solid #e4eaff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: $primary-color;
  font-family: $primary-font;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
}

.cta-button-theme:hover {
  cursor: pointer;
}
