$accent-color: #80CBC4;
$primary-color: #090B10;
$custom-white: #c9d4fa;
$primary-color-faded: #3B3F51;
$background-gradient: linear-gradient(180deg, $primary-color 0%, $primary-color 35.94%, $primary-color-faded 100%);